body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

.app {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.tag {
    text-align: center;
    color: green;
    font-weight: bold;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}
